button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }

.projeto,
.projeto * {
  box-sizing: border-box;
}
.projeto {
  background: var(--base-gray-200, #16181d);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}

.intro,
.intro * {
  box-sizing: border-box;
}
.intro {
  padding: 120px 163px 120px 163px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  
}
.info {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  /* max-width: 1040px; */
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  max-width: 680px;
  position: relative;
}
.avatar {
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
}

.user {
  position: absolute;
  inset: 0;
}
.border {
  border-radius: 999px;
  border-style: solid;
  border-color: var(--main-red, #e3646e);
  border-width: 2px;
  width: 125px;
  height: 125px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
}

.image {
  border-radius: 9999px;
  width: 113.64px;
  height: 113.64px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  object-fit: cover;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.name {
  text-align: center;
  font-family: var(--subtitle-font-family, "Inconsolata-Regular", sans-serif);
  font-size: var(--subtitle-font-size, 20px);
  line-height: var(--subtitle-line-height, 120%);
  font-weight: var(--subtitle-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.name-span {
  color: var(--base-gray-500, #c0c4ce);
  font-family: var(--subtitle-font-family, "Inconsolata-Regular", sans-serif);
  font-size: var(--subtitle-font-size, 20px);
  line-height: var(--subtitle-line-height, 120%);
  font-weight: var(--subtitle-font-weight, 400);
}
.name-span2 {
  color: var(--main-red, #e3646e);
  font-family: var(--subtitle-font-family, "Inconsolata-Regular", sans-serif);
  font-size: var(--subtitle-font-size, 20px);
  line-height: var(--subtitle-line-height, 120%);
  font-weight: var(--subtitle-font-weight, 400);
}
.name-span3 {
  color: var(--base-gray-500, #c0c4ce);
  font-family: var(--subtitle-font-family, "Inconsolata-Regular", sans-serif);
  font-size: var(--subtitle-font-size, 20px);
  line-height: var(--subtitle-line-height, 120%);
  font-weight: var(--subtitle-font-weight, 400);
}

.cargo {
  color: var(--base-gray-600, #e2e4e9);
  text-align: center;
  font-family: var(--title-lg-font-family, "Asap-Bold", sans-serif);
  font-size: var(--title-lg-font-size, 56px);
  line-height: var(--title-lg-line-height, 120%);
  font-weight: var(--title-lg-font-weight, 700);
  position: relative;
  align-self: stretch;
  width: 100%;
  word-wrap: break-word;
}

.subtitle {
  color: var(--base-gray-400, #878ea1);
  text-align: center;
  font-family: var(--text-sm-font-family, "MavenPro-Regular", sans-serif);
  font-size: var(--text-sm-font-size, 14px);
  line-height: var(--text-sm-line-height, 140%);
  font-weight: var(--text-sm-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.tags {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.tag
{
  border-radius: 999px;
  padding: 4px 12px 4px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.social-button {
  background: var(--base-gray-300, #292c34);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.git-hub {
  color: var(--base-gray-200, #16181d);
  text-align: center;
  font-family: var(--tag-md-font-family, "Inconsolata-Bold", sans-serif);
  font-size: var(--tag-md-font-size, 16px);
  line-height: var(--tag-md-line-height, 120%);
  font-weight: var(--tag-md-font-weight, 700);
  position: relative;
}
.php {
  color: var(--base-gray-200, #16181d);
  text-align: center;
  font-family: var(--tag-md-font-family, "Inconsolata-Bold", sans-serif);
  font-size: var(--tag-md-font-size, 16px);
  line-height: var(--tag-md-line-height, 120%);
  font-weight: var(--tag-md-font-weight, 700);
  position: relative;
}
.css {
  color: var(--base-gray-200, #16181d);
  text-align: center;
  font-family: var(--tag-md-font-family, "Inconsolata-Bold", sans-serif);
  font-size: var(--tag-md-font-size, 16px);
  line-height: var(--tag-md-line-height, 120%);
  font-weight: var(--tag-md-font-weight, 700);
  position: relative;
}
.html {
  color: var(--base-gray-200, #16181d);
  text-align: center;
  font-family: var(--tag-md-font-family, "Inconsolata-Bold", sans-serif);
  font-size: var(--tag-md-font-size, 16px);
  line-height: var(--tag-md-line-height, 120%);
  font-weight: var(--tag-md-font-weight, 700);
  position: relative;
}
.javascript {
  color: var(--base-gray-200, #16181d);
  text-align: center;
  font-family: var(--tag-md-font-family, "Inconsolata-Bold", sans-serif);
  font-size: var(--tag-md-font-size, 16px);
  line-height: var(--tag-md-line-height, 120%);
  font-weight: var(--tag-md-font-weight, 700);
  position: relative;
}
.projects {
  padding: 72px 120px 144px 120px;
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.header2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.meu-trabalho {
  color: var(--main-red, #e3646e);
  text-align: center;
  font-family: var(--subtitle-font-family, "Inconsolata-Regular", sans-serif);
  font-size: var(--subtitle-font-size, 20px);
  line-height: var(--subtitle-line-height, 120%);
  font-weight: var(--subtitle-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.veja-os-projetos-em-destaque {
  color: var(--base-gray-600, #e2e4e9);
  text-align: center;
  font-family: var(--title-md-font-family, "Asap-Bold", sans-serif);
  font-size: var(--title-md-font-size, 24px);
  line-height: var(--title-md-line-height, 120%);
  font-weight: var(--title-md-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.grid {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  position: relative;
}
.project-card {
  background: var(--base-gray-300, #292c34);
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 508px;
  position: relative;
  overflow: hidden;
}
.image2 {
  border-radius: 8px;
  flex-shrink: 0;
  width: 224px;
  height: 156px;
  position: relative;
  object-fit: cover;
}
.text2 {
  padding: 8px 4px 8px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title2 {
  color: var(--base-gray-600, #e2e4e9);
  text-align: left;
  font-family: var(--title-sm-font-family, "Asap-Bold", sans-serif);
  font-size: var(--title-sm-font-size, 16px);
  line-height: var(--title-sm-line-height, 120%);
  font-weight: var(--title-sm-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.lorem-ipsum-dolor-sit-amet-consectetur-viverra-sed-laoreet-eu-ornare {
  color: var(--base-gray-500, #c0c4ce);
  text-align: left;
  font-family: var(--text-sm-font-family, "MavenPro-Regular", sans-serif);
  font-size: var(--text-sm-font-size, 14px);
  line-height: var(--text-sm-line-height, 140%);
  font-weight: var(--text-sm-font-weight, 400);
  position: relative;
  align-self: stretch;
  height: 64px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tags2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.php2 {
  color: var(--base-gray-200, #16181d);
  text-align: center;
  font-family: var(--tag-sm-font-family, "Inconsolata-Bold", sans-serif);
  font-size: var(--tag-sm-font-size, 12px);
  line-height: var(--tag-sm-line-height, 120%);
  font-weight: var(--tag-sm-font-weight, 700);
  position: relative;
}
.css2 {
  color: var(--base-gray-200, #16181d);
  text-align: center;
  font-family: var(--tag-sm-font-family, "Inconsolata-Bold", sans-serif);
  font-size: var(--tag-sm-font-size, 12px);
  line-height: var(--tag-sm-line-height, 120%);
  font-weight: var(--tag-sm-font-weight, 700);
  position: relative;
}
.html2 {
  color: var(--base-gray-200, #16181d);
  text-align: center;
  font-family: var(--tag-sm-font-family, "Inconsolata-Bold", sans-serif);
  font-size: var(--tag-sm-font-size, 12px);
  line-height: var(--tag-sm-line-height, 120%);
  font-weight: var(--tag-sm-font-weight, 700);
  position: relative;
}

.javascript2 {
  color: var(--base-gray-200, #16181d);
  text-align: center;
  font-family: var(--tag-sm-font-family, "Inconsolata-Bold", sans-serif);
  font-size: var(--tag-sm-font-size, 12px);
  line-height: var(--tag-sm-line-height, 120%);
  font-weight: var(--tag-sm-font-weight, 700);
  position: relative;
}
.contact {
  padding: 128px 120px 200px 120px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.header3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.contato {
  color: var(--main-purple, #bb72e9);
  text-align: center;
  font-family: var(--subtitle-font-family, "Inconsolata-Regular", sans-serif);
  font-size: var(--subtitle-font-size, 20px);
  line-height: var(--subtitle-line-height, 120%);
  font-weight: var(--subtitle-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.gostou-do-meu-trabalho {
  color: var(--base-gray-600, #e2e4e9);
  text-align: center;
  font-family: var(--title-md-font-family, "Asap-Bold", sans-serif);
  font-size: var(--title-md-font-size, 24px);
  line-height: var(--title-md-line-height, 120%);
  font-weight: var(--title-md-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.entre-em-contato-ou-acompanhe-as-minhas-redes-sociais {
  color: var(--base-gray-500, #c0c4ce);
  text-align: center;
  font-family: var(--text-md-font-family, "MavenPro-Regular", sans-serif);
  font-size: var(--text-md-font-size, 16px);
  line-height: var(--text-md-line-height, 140%);
  font-weight: var(--text-md-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  max-width: 500px;
}

.linkedin-logo {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
  overflow: visible;
}
.linkedin {
  color: var(--base-gray-500, #c0c4ce);
  text-align: left;
  font-family: "MavenPro-Medium", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.arrow-up-right {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.instagram-logo {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
  overflow: visible;
}
.github-logo {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
  overflow: visible;
}
.envelope-simple {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
  overflow: visible;
}

@media screen and (max-width: 992px) 
{
  .intro {
    padding: 120px 32px 120px 32px;
  }

  .contact {
    padding: 12px 32px 120px 32px;
  }

  .cargo {
    font-size: 45px;
  }
}
